/bin/
/lib/
/persistence/logs/
/console/logs/

// For all submodules:
target/
.settings/

.classpath
.project

/persistence/src/main/resources/db-setup/
/persistence/src/test/resources/db-setup/
/persistence/src/main/resources/.properties
/persistence/src/test/resources/.properties

