/bin/
/lib/
/console/logs/

target/
.settings/

.classpath
.project

/webapp/src/main/resources/db-setup/
/webapp/src/test/resources/db-setup/
/persistence/src/main/resources/.properties
/persistence/src/test/resources/.properties

