/bin/
/lib/
/persistence/logs/
/console/logs/

# For all submodules:
target/
.settings/

.classpath
.project

*.properties

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

